.Header {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    background: rgba(255, 255, 255, 0.35);
}

.Header nav{
    display: flex;
    gap: 20px;
}


.Header nav a{
    text-decoration: unset;
}

.Header nav .active{
    font-weight: bolder;
}

