.Add{
    display: flex;
    justify-content: center;
}
.Add .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 450px;
    height: 520px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
  }
  
  .Add  .form {
    padding: 25px;
  }
  
  .Add .card_header {
    display: flex;
    align-items: center;
  }
  
  .Add .card svg {
    color: #7878bd;
    margin-bottom: 20px;
    margin-right: 5px;
  }
  
  .Add .form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #7878bd;
  }
  
  .Add .field {
    position: relative;
    padding-bottom: 25px;
  }
  
  .Add .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 100%;
    color: #7a7ab3;
    border: 1px solid #dadaf7
  }
  
  .Add .input:focus-visible {
    outline: 1px solid #aeaed6;
  }
  
  .Add .input::placeholder {
    color: #bcbcdf;
  }
  
  .Add label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  .Add button {
    background-color: #7878bd;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
  }
  
  .Add button:hover {
    background-color: #5f5f9c;
  }

  .err{
    position: absolute;
    top: calc(100% - 20px);
    left: 20px;
    color: red;
    font-weight: bolder;
  }