
.List .flex{
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.select-wrap{
    text-align: center;
    margin-bottom: 20px;
}

.select-wrap select{
    padding: 5px 20px;
    font-size: large;
}

.List .input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    width: 200px;
    color: #7a7ab3;
    border: 1px solid #dadaf7
  }
  
  .List .input:focus-visible {
    outline: 1px solid #aeaed6;
  }
